.Headfor {
  display: flex;
  color:white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black; 
}
@media screen and (max-width: 768px) {
  .Headfor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black; 
  }
}


